@{
	ViewBag.Title = "Home Page";
}

<div class="container">
			<div class="item active">
				<img width="571" height="571" src="/Images/apartamente-penthouse.jpg">
			</div>
					<address>
						<h2>Residents Association Craiova</h2>
						<p class="lead">Residents Association este un website pentru o asociatie de locatari.</p>
					</address>
	</div>

